* {
  all: unset; /* Reset GTK defaults */
}

.bar-container {
  background-color: #1e1e2e;
  border-radius: 12px;
  color: #cdd6f4;
  font-family: "JetBrains Mono";
  font-size: 16px;
  padding: 8px;
}
