window {
    font-family: "MesloLGS Nerd Font", monospace;
    font-size: 14px;
    background-color: #282828;
    color: #ebdbb2;
}

#entry {
    padding: 5px;
}

#entry:selected {
    background-color: #458588;
    color: #ebdbb2;
}

#img {
    margin-right: 8px;
}
