[Unit]
Description=xdg-desktop-portal WLR backend
After=dbus.service

[Service]
ExecStart=/run/current-system/sw/bin/xdg-desktop-portal-wlr
Restart=on-failure
Environment=WAYLAND_DISPLAY=wayland-0
Environment=DISPLAY=:0
Environment=XDG_CURRENT_DESKTOP=Hyprland

[Install]
WantedBy=default.target
