* {
  border: none;
  border-radius: 5px;
  font-family: "MesloLGS Nerd Font";
  font-size: 13px;
  min-height: 0;
}

#workspaces button {
  padding: 5px;
  margin: 3px;
  border-radius: 5px;
  background-color: #3c3836; /* dark2 */
  color: #ebdbb2; /* light1 */
}

#pulseaudio, #network, #battery, #clock {
  background-color: #282828; /* dark1 */
  padding: 5px 10px;
  margin: 3px;
  color: #ebdbb2; /* light1 */
}

#clock {
  background-color: #83a598; /* blue */
  color: #3c3836; /* dark2 */
}

#tray {
  background-color: #1d2021; /* dark0_hard */
  padding: 5px 10px;
  color: #ebdbb2;
}

#waybar {
  background-color: rgba(29, 32, 33, 0.85); /* dark0_hard + transparency */
}
